<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Nature Calls</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Font Awesome CDN -->
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W53YF1K0RT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W53YF1K0RT');
    </script>
    
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">SG Nature Calls
            <a href="/" class="ml-2 home-button"><i class="fas fa-home"></i></a> <!-- Home icon with link to home page -->
        </h1>
        <!-- <h5 class="text-center my-4">
            Click photo for sound, Click name for more info
        </h5> -->

        <!-- Search Bar-->
        <div class="autocomplete-search-box">
            <input type="text" class="search-box" id="search-box" placeholder="Search for animal..."/>
            <button type="button" id="search-button" class="btn btn-primary">Search</button> <!-- Add search button -->
            <ul class="search-result"></ul>
        </div>        
            
        <!-- Habitat Filter-->
        <div class="my-4">
            <label for="habitatFilter">Choose a habitat:</label>
            <select id="habitatFilter" class="form-control">
                <option value="All" selected>All</option>
                <option value="Urban">Urban</option>
                <option value="Forest/Park">Forest/Park</option>
                <option value="Mangrove/Coastal">Mangrove/Coastal</option>
            </select>
            </div>

        <!--Animal grid-->
        <div class="animal-grid">
        </div>
    
        <!-- Add New Animal Form -->
        <div class="my-4">
            <h5 class="text-center my-4">Is there another animal that is commonly heard and should be added here? Let us know.</h5>
            <form id="addAnimalForm" action="/addAnimal" method="POST">
                <div class="form-group">
                    <label for="newAnimalName">Animal Name:</label>
                    <input type="text" class="form-control" id="newAnimalName" name="newAnimalName" placeholder="Enter animal name (if you know)" required>
                </div>
                <div class="form-group">
                    <label for="newAnimalDescription">Description:</label>
                    <textarea class="form-control" id="newAnimalDescription" name="newAnimalDescription" rows="3" placeholder="Describe where you heard it and what it sounds like"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <!--Sources-->
        <div>
            <h6 class="text-center my-4" style="font-weight: bold; text-decoration: underline;" onclick="location.href = 'sources';">Sources</h6>
        </div> 

    </div>

<!-- Footer with Disclaimer -->
<footer class="text-center mt-4">
    <p class="disclaimer">
        Disclaimer: <br>
        This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
    </p>
</footer> 

    <script src="/js/filters.js"></script>
    <script src="/js/sounds.js"></script>

    
</body>
</html>
