/* styles.css */
.animal-grid {
    justify-content: center; /* animal cards are centered container*/
    display: flex; /*the no. of animal cards in a row adjusts based on browser size */
    flex-wrap: wrap; /*animal cards go into the next line instead of being forced into one line*/
    gap: 5px;
    padding: 16px; /* Add some padding around the grid */
}


.animal-card {
    display: flex;
    max-width: 300px; /*added to ensure the animal card doesn't stretch out when browser size grows*/
    flex-direction: column;
    border: 1px solid #ccc; /* Add border to each card */
    border-radius: 8px; /* Rounded corners for each card */
    overflow: hidden;
    transition: transform 0.3s;
}

.animal-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.card {
    cursor: pointer;
    width: 100%;
    height: 100%; /* Ensure the card takes up the full height */
    display: flex;
    flex-direction: column;
}

.card-img-top {
    object-fit: fill; /* Resize the image to fill the card (no white space) and ensure img is not cropped (sacrifice aspect ratio)*/
    width: 100%;
    height: 180px; /* Set a fixed height for the image */
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: 100px;
    text-align: center;
}

.card-title {
    margin: 0; /* Remove default margins */
    font-size: 1.2em; /* Adjust the font size */
}

/* search bar with auto-complete*/
.autocomplete-search-box {
    display: flex; /* Make the search box and button appear in a row */
    align-items: center; /* Align items vertically */
}

.search-box {
    flex: 1; /* Allow the search box to grow to fill available space */
    max-width: 1200px; /* Set a maximum width for the search box */
    margin-right: 10px; /* Add some spacing between the search box and button */
}
.search-result {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #f9f9f9;
    max-height: 150px;
    overflow-y: auto;
    border-top: none;
}

.btn-primary {
    background-color: #006400; /* Dark Green color */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #004d00; /* Slightly darker green for hover effect */
}
.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f1f1f1;
}

/* Table styles */
table {
    width: 100%;
    margin-top: 20px;
    overflow-wrap: anywhere;
    table-layout: fixed; /*fixes the column ratios*/
}

thead th {
    background-color: #343a40;
    color: white;
}

.col-name {
    width: 20%;
}

.col-image {
    width: 40%;
}

.col-audio {
    width: 40%;
}

footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f8f9fa; /* Light grey background */
    border-top: 1px solid #dee2e6; /* Border top similar to Bootstrap table */
}

.disclaimer {
    font-size: 14px;
    color: #6c757d; /* Bootstrap's text-muted color */
}

.home-button {
    color: #006400; /* Dark Green color */
}

.home-button:hover {
    color: #004d00; /* Slightly darker green for hover effect */
}