/* styles.css */
.animal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.animal-card {
    display: flex;
    flex-direction: column;
    height: 350px; /* Set a fixed height for the card */
}
.card {
    cursor: pointer;
    width: 100%;
    height: 100%; /* Ensure the card takes up the full height */
    display: flex;
    flex-direction: column;
}
.card-img-top {
    object-fit: cover; /* This will crop the image to fit the card */
    height: 70%; /* Set the image to take up 70% of the card height */
    width: 100%; /* Ensure the image takes up the full width */
}
.card-body {
    height: 30%; /* The remaining height for the card body */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title {
    margin: 0; /* Remove default margins */
    text-align: center;
}
